html,
body {
  background-color: #4e4e8b;
  background-image: url("people-working.jpeg");
  font-family: "Raleway", Helvetica, sans-serif;
  padding: 20px;
  color: #f3f3f3;
}
h1 {
  text-align: center;
  font-size: 64px;
  color: #1b1b32;
}
p {
  text-align: center;
}
#container {
  background: #1b1b32;
  opacity: 80%;
  width: 800px;
  border-radius: 25px;
  margin: 0 auto;
  padding: 20px;
}
.div-form {
  padding: 10px;
}
.div-sub {
  display: inline-block;
  text-align: right;
  width: 48%;
  padding-right: 10px;
}
.div-sub2 {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 48%;
}
#title {
  font-size: 24px;
  text-align: center;
}
#name,
#email,
#number {
  width: 150px;
}
#comments {
  font-size: 14px;
  font-family: monospace;
}
#description {
  font-size: 16px;
}
#submit {
  align-items: center;
  font-size: 14px;
  background-color: lightblue;
  height: 40px;
  width: 96px;
}
.button {
  border-radius: 10px;
  box-shadow: 0 4px 8px;
}
.button:hover {
  background-color: #0d0df0;
  opacity: 0.5;
}
